@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #0c1015;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

@media (min-width: 1024px) {
  .glass {
    background: rgba(104, 104, 104, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.67);
    backdrop-filter: blur(1px);
  }
}

.image {
  max-width: calc(230vw + 1670px);
  z-index: -9999;
}

.home-camping-glowing-icon-glow {
  --mktg-accent-primary: #dd7df7;
}

.home-camping-lines-hero {
  left: calc(50% - 12px);
  width: 300px;
  height: 428px;
}

@media (min-width: 768px) {
  .home-camping-lines-hero {
    left: calc(50% - 14px);
    width: 437px;
    height: 643px;
  }
}

.copilot {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.67);
  backdrop-filter: blur(1px);
}

@media (max-width: 400px) {
  .line {
    height: 1080px;
  }
}

.pl-ent {
  color: #7ee787;
}

.pl-e,
.pl-en {
  color: #d2a8ff;
}

.pl-s {
  color: #a5d6ff;
}

.pl-s1 {
  color: #fff;
}

.pl-k {
  color: #ff7b72;
}

.pl-c1 {
  color: #79c0ff;
}

.color-fg-subtle {
  color: #6e7681;
}

.color-fg-accent {
  color: #2f81f7;
}

.color-fg-done {
  color: #a371f7;
}

.bg-animated {
  border-radius: 9999px;
  will-change: transform;
  mix-blend-mode: soft-light;
  transition: transform 200ms linear;
}
